<ng-container *ngFor="let comment of commentsList; let i = index">
  <app-comment-item
    (onChangeScore)="handleChangeScore($event, i)"
    (onDelete)="handleOnDelete(comment.id)"
    (onEdit)="handleOnEdit()"
    (onSave)="handleSave($event, i)"
    (onReplyDelete)="handleOnReplyDelete($event, i)"
    (onReplyScoreChange)="handleReplyScoreChange($event, i)"
    (onReplyComment)="(addCommentReply)"
    class="comment"
    [comment]="comment"
    [currentUser]="currentUser"
  ></app-comment-item>
</ng-container>

<textarea name="" id="" cols="30" rows="10" [(ngModel)]="newText"></textarea>
<button (click)="addComment(newText)">add comment</button>
