<div id="container"><app-comment-shell></app-comment-shell></div>
<!-- <div id="container">
  <div *ngFor="let comment of comments; index as i" class="comment">
    <div class="comment-popularity">
      <button #plus id="increment" (click)="changeScore(i, 1)">+</button>
      <span #test>{{ comments[i].score }}</span>
      <button id="decrement" (click)="changeScore(i, -1)">-</button>
    </div>
    <div class="comment-conten-container">
      <div class="comment-header">
        <div class="user-info">
          <img [src]="comments[i].user.image" alt="" />
          <p id="name">{{ comments[i].user.username }}</p>
          <p>{{ comments[i].createdAt }}</p>
        </div>
         <div>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            [(ngModel)]="replyText"
          ></textarea>
          <button (click)="addReply(i, replyText)">Reply</button>
          <button
            *ngIf="comment.user == currentUser"
            class="delete"
            (click)="removeComment(comment.id)"
          >
            delete
          </button>
        </div>
      </div>
      <p class="comment-content">
        {{ comments[i].content }}
      </p>
    </div>
    <div id="id">{{ comments[i].id }}</div>
    <div *ngFor="let reply of comments[i].replies; index as j">
      <div class="comment comment-reply">
        <div class="comment-popularity">
          <button id="increment" (click)="changeScoreReply(i, j, 1)">+</button>
          <span>{{ comments[i].replies[j].score }}</span>
          <button id="decrement" (click)="changeScoreReply(i, j, -1)">-</button>
        </div>
        <div class="comment-conten-container">
          <div class="comment-header">
            <div class="user-info">
              <img src="/images/avatars/image-amyrobson.png" alt="" />
               <p id="name">{{ comments[i].username }}</p> -->
<!-- <p>1 month ago</p>
            </div>
            <div>
              <textarea
                name=""
                id=""
                cols="30"
                rows="10"
                [(ngModel)]="replyText"
              ></textarea>
              <button (click)="addReply(i, replyText)">Reply</button>
              <button
                *ngIf="comment.user == currentUser"
                class="delete"
                (click)="removeComment(comment.id)"
              >
                delete
              </button>
            </div>
          </div>
          <p class="comment-content">
            {{ comments[i].replies[j].content }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="newText"></textarea>
  <button (click)="addComment(newText)">add comment</button>
</div> -->
--> -->
